<div class="pages">

	<div data-page="add-monitoring" class="page toolbar-fixed">
		<div class="navbar" id="tabbed-navbar">
			<div class="navbar-inner">
				<div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
				<div class="center">Add Monitoring</div>
				<div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
			</div>
		</div>
		<div class="toolbar tabbar">
			<div class="toolbar-inner"><a href="#monitoring-tab-11" class="active tab-link">Samples</a><a href="#monitoring-tab-22 " class="tab-link">Conclude</a></div>
		</div>
		<div class="tabs-swipeable-wrap">


			<div class="tabs">

				<div id="monitoring-tab-11" class="tab active app-form">

					<div class="list-block no-margin">

						<ul>

							<li>

								<div class="content-block">

									<div  id="samples"></div>
									<!--
                                                                            <div id="tree-samples" class="tree-samples row">
                                                                                <div class="col-30">

                                                                                    <div class="item-title label">
                                                                                        Height(m)
                                                                                    </div>

                                                                                    <div class="item-input">
                                                                                        <input type="number" id="height"  class="height" />
                                                                                    </div>

                                                                                </div>

                                                                                <div class="col-30">

                                                                                    <div class="item-title label">
                                                                                        Crown (m)
                                                                                    </div>

                                                                                    <div class="item-input">
                                                                                        <input type="number" id="crown" class="crown" />
                                                                                    </div>

                                                                                </div>

                                                                                <div class="col-40">
                                                                                    <div class="item-title label">
                                                                                        Tree Growth (DBH)
                                                                                    </div>

                                                                                    <div class="item-input">
                                                                                        <select id="tree-growth" class="dbh">
                                                                                            <option value="">- Select -</option>
                                                                                            <option value="5-"> <i> &#8804;</i>5 </option>
                                                                                            <option value="6-9">6 - 9</option>
                                                                                            <option value="10-19">10- 19</option>
                                                                                            <option value="20-29"> 20 - 29 </option>
                                                                                            <option value="30+">  <i> &#8805;</i> 30 </option>
                                                                                        </select>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                    -->

								</div>
							</li>

							<div class="content-block">

								<a href="javascript:void(0);" id="add-sample" class="button form-button button-fill button-raised">
									Add sample
								</a>

							</div>
						</ul>

					</div>

				</div>

				<div id="monitoring-tab-22" class="tab  app-form">

					<div class="list-block no-margin">
						<ul>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Tree target met?
										</div>

										<div class="item-input">
											<label class="label-switch">
												<input type="checkbox" id="tree-target-met" />
												<div class="checkbox"></div>
											</label>
										</div>

									</div>

								</div>

							</li>

							<li id="hide_correct-areas-planted">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Correct areas planted ?
										</div>

										<div class="item-input">
											<label class="label-switch">
												<input type="checkbox" id="correct-areas-planted" />
												<div class="checkbox"></div>
											</label>
										</div>

									</div>

								</div>

							</li>

							<li id="hide_correct-tree-species-planted">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Correct tree species planted?

											<div class="item-input">

												<label class="label-switch">
													<input type="checkbox" id="correct-tree-species-planted" />
													<div class="checkbox"></div>
												</label>

											</div>

										</div>

									</div>

								</div>

							</li>

							<li id="hide_main-cause-tree-dying">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Main cause of tree dying

											<div class="item-input">

												<select id="main-cause-tree-dying">
													<option> -- Select -- </option>
													<option value="1"> Burning</option>
													<option value="2"> Planted late </option>
													<option value="3"> Weeds </option>
													<option value="4"> Diseases </option>
													<option value="5"> Drought </option>
													<option value="6"> others </option>
												</select>

											</div>

										</div>

									</div>

								</div>

							</li>

							<li id="hide_other-cause">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Other

											<div class="item-input">
												<input type="text" id="other-causes" />

											</div>

										</div>

									</div>

								</div>

							</li>


							<li id="hide_main-corrective-action">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Main corrective action

											<div class="item-input">

												<select id="main-corrective-action">
													<option> -- Select -- </option>
													<option value="1"> Replanting</option>
													<option value="2"> Thinning </option>
													<option value="3"> Control Burning </option>
													<option value="4"> Others </option>
												</select>

											</div>

										</div>

									</div>

								</div>

							</li>

							<li id="hide_other-actions">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Other

											<div class="item-input">
												<input type="text" id="other-actions" />

											</div>

										</div>

									</div>

								</div>

							</li>

							<li id="hide_seedling-sources">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Seedling sources

											<div class="item-input">
												<input type="text" id="seedling-sources" />

											</div>

										</div>

									</div>

								</div>

							</li>

							<li id="hide_number-of-seeds">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Number of seeds

											<div class="item-input">
												<input type="number" id="number-of-seeds" />

											</div>

										</div>

									</div>

								</div>

							</li>

							<li id="hide_date-taken">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Date

											<div class="item-input">
												<input type="date" id="date-taken" />

											</div>

										</div>

									</div>

								</div>

							</li>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Comments

											<div class="item-input">
												<textarea id="comments" rows="5" ></textarea>

											</div>

										</div>

									</div>

								</div>

							</li>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Does producer qualify?

											<div class="item-input">
												<select id="does-producer-qualify">
													<option> -- Select -- </option>
													<option value="1"> Yes </option>
													<option value="2"> No </option>
												</select>

											</div>

										</div>

									</div>

								</div>

							</li>
						</ul>

					</div>

					<div class="content-block">

						<a href="javascript:void(0);" id="save-monitoring" class="button form-button button-fill button-raised">
							Save Information
						</a>

					</div>
				</div>

			</div>

	</div>

</div>
