<div class="pages">

	<div data-page="settings" class="page">

		<div class="navbar">

			<div class="navbar-inner">

				<div class="left">
					<a href="#" class="back link">
						<i class="f7-icons">chevron_left</i>
					</a>
				</div>

				<div class="center sliding">
					Settings
				</div>
				
				<div class="right">
					<a href="#" data-panel="left" class="link icon-only open-panel">
						<i class="icon icon-bars"></i>
					</a>
				</div>
			</div>

		</div>



	</div>

</div>
