<div class="pages">

	<div data-page="add-area" class="page">

		<div class="navbar">

			<div class="navbar-inner">

				<div class="left">
					<a href="#" class="back link">
						<i class="f7-icons">chevron_left</i>
					</a>
				</div>

				<div class="center sliding">
					Add Area
				</div>
				
				<div class="right">
					<a href="#" data-panel="left" class="link icon-only open-panel">
						<i class="icon icon-bars"></i>
					</a>
				</div>
				
			</div>

		</div>

		<div class="page-content app-form">

			<div class="list-block no-margin">

				<ul>

					<li>
					
						<div class="item-content">

							<div class="item-inner">

								<div class="item-title label">
									Producer
								</div>

								<div class="item-input">
									<select id="producer-name">
										<option value="">- Select -</option>
									</select>
								</div>

							</div>

						</div>

					</li>

					<li>

						<div class="item-content">

							<div class="item-inner">

								<div class="item-title label">
									Land use type
								</div>

								<div class="item-input">
									<select id="land-systems">
										<option value="">- Select -</option>
									</select>
								</div>

							</div>

						</div>

					</li>

					<li>
					
						<div class="item-content">

							<div class="item-inner">

								<div class="item-title label">
									Size of Area Under TGB(ha)
								</div>

								<div class="item-input">
									<input type="number" id="tgb-area-size" placeholder="Size of Area Under TGB in Hectares" />
								</div>

							</div>

						</div>

					</li>
					
					<li>
					
					<div class="content-block">

						<a href="javascript:void(0);" id="get-gps" class="button form-button button-fill button-raised">
							GPS
						</a>

						<div class="item-input">
							<input type="text" id="get_area_gps" name="get_area_gps"  readonly />
						</div>

					</div>

					</li>
					
					<li>
					
						<div class="item-content">

							<div class="item-inner">

								<div class="item-title label">
									Total Land size  (ha)

								<div class="item-input">
									<input type="number" id="total-land-size" placeholder="Total land size" />
								</div>

							</div>

						</div>

					</li>
							
					<li>

						<div class="item-content">

							<div class="item-inner">

								<div class="item-title label">
									District
								</div>

								<div class="item-input">
									<select id="area-district">
										<option value="">- Select -</option>
									</select>
								</div>

							</div>

						</div>

					</li>

					<li>

						<div class="item-content">

							<div class="item-inner">

								<div class="item-title label">
									Sub-county
								</div>

								<div class="item-input">
									<select disabled id="area-sub-county">
										<option value="">- Select -</option>
									</select>
								</div>

							</div>

						</div>

					</li>

					<li>

						<div class="item-content">

							<div class="item-inner">

								<div class="item-title label">
									Village
								</div>

								<div class="item-input">
									<select disabled id="area-village">
										<option value="">- Select -</option>
									</select>
								</div>

							</div>

						</div>

					</li>

				</ul>

			</div>

			<div class="content-block">

				<a href="javascript:void(0);" id="save-area" class="button form-button button-fill button-raised">
					Save Information
				</a>

			</div>

		</div>

	</div>

</div>
