<div class="pages">

	<div data-page="add-planting" class="page toolbar-fixed">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
				<div class="center">Add Planting</div>
				<div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
			</div>
		</div>

		<div class="page-content">
			<div>
				<div class=" active app-form">
					<div class="list-block no-margin">

						<ul>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Has planting started?

											<div class="item-input">

												<select id="planting-started">
													<option> -- Select -- </option>
													<option value="1">Yes</option>
													<option value="0">No</option>
												</select>

											</div>

										</div>

									</div>

								</div>

							</li>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Tree target

											<div class="item-input">
												<input type="text" id="tree-target" placeholder="Tree target" />
											</div>

										</div>

									</div>

								</div>

							</li>


							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">Tree Species </div>

									</div>

								</div>

							</li>
							<li>

								<div class="item-content">

									<div class="item-inner">


										<div class="item-input">

											<div class="tree-items" id="tree-items"></div>

											<div class="row">

												<div class="col-60">

													<div class="item-title label">
														Total trees	planted: <span id="total-trees"></span>
													</div>

												</div>

												<a id="add-tree" class="col-40 button form-button button-fill" >
													Add Species
												</a>

											</div>

										</div>

									</div>

								</div>

							</li>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Tree Spacing ( 5 * 5 or 4 * 4 or 3 * 3 )

											<div class="item-input">
												<input type="text" id="spacing" placeholder="4*4" />
											</div>

										</div>

									</div>

								</div>

							</li>

						</ul>

					</div>
					
					<div class="content-block">

						<a href="javascript:void(0);" id="save-planting" class="button form-button button-fill button-raised">
							Save Information
						</a>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
