<div class="pages">

	<div data-page="add-monitoring" class="page toolbar-fixed">
		<div class="navbar" id="tabbed-navbar">
			<div class="navbar-inner">
				<div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
				<div class="center">Add Monitoring</div>
				<div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
			</div>
		</div>
		<div class="toolbar tabbar">
			<div class="toolbar-inner"><a href="#monitoring-tab-1" class="active tab-link">Info</a><a href="#monitoring-tab-2 " class="tab-link">Conclude</a></div>
		</div>
		<div class="tabs-swipeable-wrap" id="monitoring-tabs">

			<div class="tabs">

				<div id="monitoring-tab-1" class="tab active app-form">

					<div class="list-block no-margin">

						<ul>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Tree target met?
										</div>

										<div class="item-input">
											<label class="label-switch">
												<input type="checkbox" id="tree-target-met"  />
												<div class="checkbox"></div>
											</label>
										</div>

									</div>

								</div>

							</li>

							<li class="hide_message">

								<div class="item-content">

									<h2>Can't submit form</h2>

								</div>

							</li>

							<li id="hide_correct-areas-planted">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Correct areas planted ?
										</div>

										<div class="item-input">
											<label class="label-switch">
												<input type="checkbox" id="correct-areas-planted" />
												<div class="checkbox"></div>
											</label>
										</div>

									</div>

								</div>

							</li>

							<li id="hide_correct-tree-species-planted">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Correct tree species planted?

											<div class="item-input">

												<label class="label-switch">
													<input type="checkbox" id="correct-tree-species-planted" />
													<div class="checkbox"></div>
												</label>

											</div>

										</div>

									</div>

								</div>

							</li>

							<li id="hide_main-cause-tree-dying">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Main cause of tree dying

											<div class="item-input">

												<select id="main-cause-tree-dying">
													<option> -- Select -- </option>
												</select>

											</div>

										</div>

									</div>

								</div>

							</li>

							<li id="hide_other-cause">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Other

											<div class="item-input">
												<input type="text" id="other-causes" />

											</div>

										</div>

									</div>

								</div>

							</li>


							<li id="hide_main-corrective-action">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Main corrective action

											<div class="item-input">

												<select id="main-corrective-action">
													<option> -- Select -- </option>

												</select>

											</div>

										</div>

									</div>

								</div>

							</li>

							<li id="hide_other-actions">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Other

											<div class="item-input">
												<input type="text" id="other-actions" />

											</div>

										</div>

									</div>

								</div>

							</li>

							<li id="hide_seedling-sources">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Seedling sources

											<div class="item-input">
												<input type="text" id="seedling-sources" />

											</div>

										</div>

									</div>

								</div>

							</li>

							<li id="hide_number-of-seeds">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Number of seeds

											<div class="item-input">
												<input type="number" id="number-of-seeds" />

											</div>

										</div>

									</div>

								</div>

							</li>
							<li id="hide_date-taken">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Date

											<div class="item-input">
												<input type="date" id="date-taken" />

											</div>

										</div>

									</div>

								</div>

							</li>


						</ul>

					</div>

				</div>

				<div id="monitoring-tab-2" class="tab  app-form">

					<div class="list-block no-margin">

						<ul>

							<li id="hide_comments">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Comments

											<div class="item-input">
												<textarea id="comments" rows="5" ></textarea>

											</div>

										</div>

									</div>

								</div>

							</li>
							<li class="hide_message">

								<div class="item-content">

									<h2>Can't submit form</h2>

								</div>

							</li>
							<li id="hide_does_producer_qualify">

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Does producer qualify?

											<div class="item-input">
												<select id="does-producer-qualify">
													<option> -- Select -- </option>
													<option value="1"> Yes </option>
													<option value="2"> No </option>
												</select>

											</div>

										</div>

									</div>

								</div>

							</li>
						</ul>

					</div>

					<div id="save_button" class="content-block">

						<a href="javascript:void(0);" id="save-monitoring"  class="button form-button button-fill button-raised">
							Save Information
						</a>

					</div>
				</div>

			</div>


		</div>

	</div>

</div>
