<div class="pages">

	<div data-page="producer" class="page toolbar-fixed">
		<div  class="navbar" id="tabbed-navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="back link">
						<i class="f7-icons">chevron_left</i>
					</a>
				</div>

				<div class="center sliding producer-names">
					Producer name
				</div>

				<div class="right">
					<a href="#" data-panel="left" class="link icon-only open-panel">
						<i class="icon icon-bars"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="toolbar tabbar">
			<div class="toolbar-inner">

				<a href="#producer-info-1" class="tab-link active "> Bio</a>

				<a href="#producer-area-info-2" class="tab-link ">Area</a>

				<a href="#producer-planting-info-3" class="tab-link ">Plantings</a>

				<a href="#producer-monitoring-info-4" class="tab-link ">Monitoring</a>

			</div>
		</div>
		<div class="tabs-swipeable-wrap">
			<div class="tabs">

				<div id="producer-info-1" class="page-content tab active app-form"></div>

				<div id="producer-area-info-2" class="page-content tab app-form"></div>

				<div id="producer-planting-info-3" class="page-content tab app-form"></div>

				<div id="producer-monitoring-info-4" class="page-content tab app-form"></div>

			</div>
		</div>
	</div>

</div>
